@font-face {
  font-family: "Integral CF";
  src: url("../fonts/IntegralCF-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Integral CF";
  src: url("../fonts/IntegralCF-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Integral CF";
  src: url("../fonts/IntegralCF-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@media screen and (max-width: 767px) {
  .container {
    width: 390px;
  }
  .section {
    width: 100%;
  }
  .container-header {
    display: flex;
    margin: 20px 0px;
    max-height: 24px;
    padding: 0px 18px;
  }
  .list-navigation-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .list-navigation-header li:first-child {
    align-self: flex-start;
  }
  .container-title-header-menu {
    display: flex;
    gap: 16px;
    align-items: center;
    text-align: center;
  }
  .button-burger-mobile {
    width: 20px;
    height: 20px;
  }
  .burger-icon {
    margin-top: 3px;
    width: 20px;
    height: 20px;
  }
  .title-logo-link {
    font-family: "Integral CF", sans-serif;
    font-weight: Bold;
    color: #000000;
    font-size: 25px;
    line-height: 18px;
    padding-bottom: 2px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
  .header-navigation {
    display: none;
  }
  .search-box {
    display: none;
  }
  .button-search {
    display: none;
  }
  .button-search-mobile {
    width: 22px;
    height: 22px;
    margin-right: 14px;
  }
  .button-search-mobile .search-icon-mobile {
    width: 22px;
    height: 22px;
  }
  .button-cart {
    width: 22px;
    height: 22px;
    margin-right: 14px;
  }
  .button-cart .cart-icon {
    width: 22px;
    height: 22px;
  }
  .button-account {
    max-height: 22px;
    max-width: 22px;
  }
  .button-account .account-icon {
    width: 22px;
    height: 22px;
  }
  .home-page-hero-section {
    background-color: #f0f0f0;
  }
  .home-page-hero-container {
    padding-top: 40px;
  }
  .home-page-hero-title {
    font-family: "Integral CF", sans-serif;
    font-weight: Bold;
    color: #000000;
    font-size: 36px;
    line-height: 0.9444444444;
    margin-bottom: 20px;
  }
  .home-page-hero-text {
    font-family: "Satoshi", sans-serif;
    font-weight: normal;
    color: #000000;
    opacity: 0.6;
    font-size: 14px;
    line-height: 1.4285714286;
    margin-bottom: 24px;
  }
  .home-page-hero-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 358px;
  }
  .home-page-button-hero {
    width: 100%;
    height: 52px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 62px;
    text-align: center;
    margin-bottom: 20px;
  }
  .hero-button-name {
    font-family: "Satoshi", sans-serif;
    font-weight: medium;
    font-size: 16px;
  }
  .home-page-hero-list {
    display: grid;
    grid-template-columns: 30fr 1fr 30fr;
    grid-template-rows: auto auto;
    justify-items: center;
    justify-self: start;
  }
  .home-page-item-list:last-child {
    grid-column: span 3;
    justify-self: center;
  }
  .home-page-item-list {
    text-align: left;
  }
  .home-page-item-list:nth-child(1) {
    margin-right: 27px;
  }
  .home-page-item-list:nth-child(1) {
    margin-left: 27px;
  }
  .divider-hero-first,
  .divider-hero-second {
    display: block;
    width: 1px;
    height: 52px;
    background-color: #000000;
    opacity: 0.1;
    margin-bottom: 12px;
  }
  .divider-hero-second {
    display: none;
  }
  .home-page-text-first {
    font-family: "Satoshi", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
  }
  .home-page-text-second {
    font-family: "Satoshi", sans-serif;
    font-weight: normal;
    font-size: 12px;
    opacity: 0.6;
    line-height: 1.8333333333;
  }
  .container-hero-image-mobile {
    position: relative;
  }
  .home-page-hero-image-mobile {
    width: 100%;
  }
  .hero-icon-big-star-mobile {
    position: absolute;
    width: 76px;
    height: 76px;
    top: 40px;
    right: 21px;
  }
  .hero-icon-medium-star-mobile {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 127px;
    left: 27px;
  }
  .container-hero-image-laptop {
    display: none;
  }
  .home-page-section-brand {
    background-color: #000000;
  }
  .container-brand {
    padding: 0 16px;
  }
  .list-brand-first {
    display: flex;
    justify-content: center;
    gap: 34px;
    padding-top: 40px;
    margin-bottom: 20px;
  }
  .list-brand-second {
    display: flex;
    justify-content: center;
    gap: 31px;
    padding-bottom: 40px;
  }
  .container-brand-laptop {
    display: none;
  }
  .section-product {
    background-color: #ffffff;
  }
  .product-name-title {
    font-family: "Integral CF", sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 32px;
    margin-top: 50px;
    text-align: center;
  }
  .container-new-arrivals {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 15px 24px 15px;
    gap: 10px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
    box-sizing: border-box;
    scrollbar-width: none;
  }
  .image-product-item {
    max-width: 198px;
  }
  .list-product-new-arrivals {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .item-list-new-arrivals {
    max-width: 198px;
    flex-shrink: 0;
  }
  .image-product-item {
    margin-bottom: 10px;
  }
  .name-product-item {
    font-family: "Satoshi", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 2;
    color: #000000;
    margin-bottom: 4px;
  }
  .rating-container {
    display: flex;
    gap: 4px;
    margin-bottom: 4px;
  }
  .rating-text-item {
    font-family: "Satoshi", sans-serif;
    font-weight: normal;
    font-size: 12px;
  }
  .product-price-container {
    display: flex;
    gap: 5px;
    text-align: center;
    align-items: center;
  }
  .price-product-item-first {
    font-family: "Satoshi", sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
  .price-product-item-second {
    font-family: "Satoshi", sans-serif;
    font-weight: bold;
    font-size: 20px;
    opacity: 40%;
  }
  .strikethrough {
    text-decoration: line-through;
    text-decoration-color: #000000;
    opacity: 40%;
    text-decoration-thickness: 2px;
  }
  .price-product-item-sale {
    font-family: "Satoshi", sans-serif;
    font-weight: medium;
    font-size: 10px;
    border-radius: 16px;
    color: #f50606;
    background-color: rgba(255, 51, 51, 0.1);
    padding: 3px 8px;
  }
  .button-container-new-arrivals {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .button-new-arrivals {
    font-family: "Satoshi", sans-serif;
    font-weight: medium;
    font-size: 14px;
    padding: 13px 153px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 62px;
    margin-bottom: 40px;
  }
  .container-top-selling {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 15px 24px 15px;
    gap: 10px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
    box-sizing: border-box;
    scrollbar-width: none;
  }
  .list-product-top-selling {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .item-list-top-selling {
    max-width: 198px;
    flex-shrink: 0;
  }
  .button-container-top-selling {
    display: flex;
    justify-content: center;
  }
  .button-top-selling {
    font-family: "Satoshi", sans-serif;
    font-weight: medium;
    font-size: 14px;
    padding: 13px 153px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 62px;
    margin-bottom: 40px;
  }
  .image-item-styles {
    display: none;
  }
  .section-styles {
    background-color: #ffffff;
  }
  .container-styles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 358px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 40px 24px 27px 24px;
    margin-bottom: 50px;
  }
  .title-container-styles {
    font-family: "Integral CF", sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.125;
    color: #000000;
    margin-bottom: 28px;
  }
  .list-container-styles-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
  }
  .list-container-styles-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }
  .image-item-styles-mobile {
    border-radius: 20px;
    width: 100%;
  }
  .title-item-styles {
    position: absolute;
    margin-top: 16px;
    margin-left: 24px;
    font-family: "Satoshi", sans-serif;
    font-weight: Bold;
    font-size: 24px;
  }
  .section-reviews {
    overflow: hidden;
    background-color: #ffffff;
  }
  .container-reviews {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 358px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }
  .container-list-reviews-title {
    display: flex;
    justify-content: center;
  }
  .list-reviews-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 24px;
  }
  .item-reviews-title button:last-child {
    margin-left: 16px;
  }
  .title-reviews {
    font-family: "Integral CF", sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.125;
    color: #000000;
    width: 286px;
    height: 72px;
  }
  .icon-arrow-reviews {
    width: 20px;
    height: 20px;
  }
  .list-reviews {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: max-content;
  }
  .item-card-reviews {
    max-width: 358px;
    border: 1px solid #f0f0f0;
    border-radius: 20px;
    text-align: start;
  }
  .container-list-reviews {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }
  .container-list-reviews::-webkit-scrollbar {
    display: none;
  }
  .container-card-reviews {
    padding: 24px 24px;
  }
  .container-rating-card-reviews {
    display: flex;
    gap: 5px;
    margin-bottom: 12px;
  }
  .container-content-card-reviews {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 12px;
  }
  .name-person-reviews {
    font-family: "Satoshi", sans-serif;
    font-weight: Bold;
    font-size: 16px;
    line-height: 1.375;
  }
  .check-mark-icon-reviews {
    width: 20px;
    height: 20px;
    fill: #01ab31;
  }
  .text-person-reviews {
    font-family: "Satoshi", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4285714286;
    color: #000000;
    opacity: 60%;
  }
  .background-container-footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #ffffff 50%, #f0f0f0 50%);
  }
  .list-container-subscribe-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #000000;
    padding: 32px 23px 28px 24px;
    border-radius: 20px;
  }
  .title-container-subscribe {
    font-family: "Integral CF", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.09375;
    color: #ffffff;
    margin-bottom: 32px;
  }
  .footer-email-icon {
    fill: #000000;
    opacity: 40%;
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }
  .item-list-subscribe-footer:nth-child(2) {
    max-width: 311px;
  }
  .footer-email-span {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 11px 112px 12px 16px;
    border-radius: 62px;
  }
  .input-item-email {
    border: none;
    outline: none;
    all: unset;
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    opacity: 40%;
    box-sizing: border-box;
    width: 100%;
  }
  .button-footer-subcribe {
    padding: 11px 80px 12px 81px;
    margin-top: 14px;
    background-color: #ffffff;
    border-radius: 62px;
    font-family: "Satoshi", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    white-space: nowrap;
  }
}
body {
  font-family: "Plus Jakarta Sans", medium;
  margin: 0;
}

button {
  all: unset;
  cursor: pointer;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a,
.link {
  text-decoration: none;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
li,
.list,
.svg {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

header {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1440px) {
  .container-header {
    display: flex;
    width: 1240px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .list-navigation-header {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
    align-items: center;
    text-align: center;
  }
  .list-navigation-header li:first-child {
    align-self: flex-start;
  }
  .container-title-header-menu {
    text-align: center;
  }
  .button-burger-mobile {
    display: none;
  }
  .title-logo-link {
    font-family: "Integral CF", sans-serif;
    font-weight: Bold;
    color: #000000;
    font-size: 32px;
    line-height: 0.7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
  .nav-header {
    display: flex;
  }
  .nav-item-header {
    font-family: "Satoshi", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #000000;
  }
  .nav-header > :first-child {
    margin-right: 4px;
  }
  .nav-header > :not(:first-child):not(:last-child) {
    margin-right: 24px;
  }
  .nav-link-button-list-shop {
    width: 12px;
    height: 12px;
  }
  .icon-arrow-button-shop {
    width: 12px;
    height: 12px;
  }
  .button-search {
    position: absolute;
    margin-left: 18px;
    width: 24px;
    height: 24px;
    color: #000000;
    opacity: 40%;
  }
  .button-search .search-icon {
    width: 24px;
    height: 24px;
  }
  .search-container-header {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
  }
  .search-box {
    width: 545px;
    padding: 13px 16px 13px 52px;
    border-radius: 62px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 40%;
    outline: none;
    border: none;
    font-size: 16px;
    font-family: "Satoshi", sans-serif;
    font-weight: normal;
    color: #000000;
  }
  .search-box::placeholder {
    color: #000000;
  }
  .button-cart {
    width: 24px;
    height: 24px;
    margin-right: 18px;
  }
  .button-cart .cart-icon {
    width: 24px;
    height: 24px;
  }
  .button-account {
    max-height: 24px;
    max-width: 24px;
  }
  .button-account .account-icon {
    width: 24px;
    height: 24px;
  }
  .button-search-mobile {
    display: none;
  }
  .button-search-mobile .search-icon-mobile {
    display: none;
  }
  .home-page-hero-section {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
  }
  .home-page-hero-container {
    width: 1240px;
    background-image: url(../images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% + 70px) top;
    padding: 103px 0px 116px 0px;
  }
  .home-page-hero-list-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 596px;
  }
  .home-page-hero-title {
    font-family: "Integral CF", sans-serif;
    height: 173px;
    font-weight: Bold;
    color: #000000;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 32px;
  }
  .home-page-hero-text {
    font-family: "Satoshi", sans-serif;
    font-weight: normal;
    color: #000000;
    height: 33px;
    opacity: 0.6;
    font-size: 16px;
    line-height: 1.375;
    margin-bottom: 32px;
  }
  .home-page-button-hero {
    width: 210px;
    height: 52px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 62px;
    text-align: center;
    margin-bottom: 48px;
  }
  .hero-button-name {
    font-family: "Satoshi", sans-serif;
    font-weight: medium;
    font-size: 16px;
  }
  .home-page-hero-list {
    display: flex;
    height: 74px;
  }
  .home-page-item-list {
    width: 100%;
  }
  .divider-hero-first,
  .divider-hero-second {
    display: block;
    width: 1px;
    height: 74px;
    background-color: #000000;
    opacity: 0.1;
    margin: 0px 32px;
  }
  .home-page-text-first {
    font-family: "Satoshi", sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #000000;
  }
  .home-page-text-second {
    font-family: "Satoshi", sans-serif;
    font-weight: normal;
    font-size: 16px;
    opacity: 0.6;
    white-space: nowrap;
    line-height: 1.375;
  }
  .container-hero-image-mobile {
    display: none;
  }
  .container-hero-image-laptop {
    position: relative;
  }
  .hero-icon-big-star-laptop {
    position: absolute;
    width: 104px;
    height: 104px;
    top: -460px;
    right: -660px;
  }
  .hero-icon-medium-star-laptop {
    position: absolute;
    width: 56px;
    height: 56px;
    top: -250px;
    right: -80px;
  }
  .home-page-section-brand {
    background-color: #000000;
  }
  .container-brand-laptop {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    gap: 106px;
  }
  .list-brand {
    display: flex;
    gap: 106px;
    padding: 42px 0px;
  }
  .container-brand-mobile {
    display: none;
  }
  .section-product {
    background-color: #ffffff;
    text-align: center;
  }
  .product-name-title {
    font-family: "Integral CF", sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 48px;
    margin-top: 72px;
  }
  .product-container-card {
    text-align: start;
  }
  .container-new-arrivals {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 0px 36px 0px;
  }
  .list-product-new-arrivals {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .item-list-new-arrivals {
    max-width: 295px;
  }
  .image-product-item {
    margin-bottom: 16px;
  }
  .name-product-item {
    font-family: "Satoshi", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.6;
    color: #000000;
    margin-bottom: 12px;
  }
  .rating-container {
    display: flex;
    gap: 5px;
    margin-bottom: 8px;
  }
  .rating-text-item {
    font-family: "Satoshi", sans-serif;
    font-weight: normal;
    font-size: 14px;
  }
  .product-price-container {
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
  }
  .price-product-item-first {
    font-family: "Satoshi", sans-serif;
    font-weight: bold;
    font-size: 24px;
  }
  .price-product-item-second {
    font-family: "Satoshi", sans-serif;
    font-weight: bold;
    font-size: 24px;
    opacity: 40%;
  }
  .strikethrough {
    text-decoration: line-through;
    text-decoration-color: #000000;
    opacity: 40%;
    text-decoration-thickness: 2px;
  }
  .price-product-item-sale {
    font-family: "Satoshi", sans-serif;
    font-weight: medium;
    font-size: 12px;
    border-radius: 16px;
    color: #f50606;
    background-color: rgba(255, 51, 51, 0.1);
    padding: 6px 13px;
  }
  .button-container-new-arrivals {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .button-new-arrivals {
    font-family: "Satoshi", sans-serif;
    font-weight: medium;
    font-size: 16px;
    padding: 18px 80px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 62px;
    margin-bottom: 64px;
  }
  .container-top-selling {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 0px 36px 0px;
  }
  .list-product-top-selling {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .item-list-top-selling {
    max-width: 295px;
  }
  .button-container-top-selling {
    display: flex;
    justify-content: center;
  }
  .button-top-selling {
    font-family: "Satoshi", sans-serif;
    font-weight: medium;
    font-size: 16px;
    padding: 18px 80px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 62px;
    margin-bottom: 64px;
  }
  .image-item-styles-mobile {
    display: none;
  }
  .section-styles {
    background-color: #ffffff;
    text-align: center;
  }
  .container-styles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1240px;
    background-color: #f0f0f0;
    border-radius: 40px;
    padding: 70px 64px 76px 64px;
    margin-bottom: 80px;
  }
  .title-container-styles {
    font-family: "Integral CF", sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #000000;
  }
  .list-container-styles-first {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 64px;
  }
  .list-container-styles-first li:first-child,
  .list-container-styles-second li:last-child {
    width: 100%;
    max-width: 406px;
    height: 289px;
  }
  .list-container-styles-first li:last-child,
  .list-container-styles-second li:first-child {
    width: 100%;
    max-width: 684px;
    height: 289px;
  }
  .list-container-styles-second {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .image-item-styles {
    border-radius: 20px;
    width: 100%;
  }
  .title-item-styles {
    position: absolute;
    margin-top: 25px;
    margin-left: 36px;
    font-family: "Satoshi", sans-serif;
    font-weight: Bold;
    font-size: 36px;
  }
  .section-reviews {
    overflow: hidden;
    background-color: #ffffff;
  }
  .container-reviews {
    position: relative;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
    overflow: visible;
  }
  .container-reviews::before,
  .container-reviews::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    background: inherit;
    backdrop-filter: blur(2px);
    z-index: 1;
  }
  .container-reviews::before {
    right: 100%;
  }
  .container-reviews::after {
    left: 100%;
  }
  .container-list-reviews-title {
    display: flex;
    justify-content: center;
  }
  .list-reviews-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 1240px;
    margin-bottom: 40px;
  }
  .item-reviews-title button:last-child {
    margin-left: 16px;
  }
  .title-reviews {
    font-family: "Integral CF", sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #000000;
  }
  .button-left-list-reviews {
    margin-top: auto;
  }
  .icon-arrow-reviews {
    width: 24px;
    height: 24px;
  }
  .list-reviews {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: -420px;
    width: max-content;
  }
  .item-card-reviews {
    width: 400px;
    border: 1px solid #f0f0f0;
    border-radius: 20px;
    text-align: start;
  }
  .container-card-reviews {
    padding: 28px 32px;
  }
  .container-rating-card-reviews {
    display: flex;
    gap: 6px;
    margin-bottom: 15px;
  }
  .container-content-card-reviews {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 12px;
  }
  .name-person-reviews {
    font-family: "Satoshi", sans-serif;
    font-weight: Bold;
    font-size: 20px;
    line-height: 1.1;
  }
  .check-mark-icon-reviews {
    width: 22px;
    height: 22px;
    fill: #01ab31;
  }
  .text-person-reviews {
    font-family: "Satoshi", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.375;
    color: #000000;
    opacity: 60%;
  }
  .background-container-footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #ffffff 50%, #f0f0f0 50%);
  }
  .list-container-subscribe-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 212px;
    background-color: #000000;
    padding: 36px 64px;
    border-radius: 20px;
    max-width: 1240px;
    width: 100%;
  }
  .title-container-subscribe {
    font-family: "Integral CF", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.2;
    color: #ffffff;
  }
  .footer-email-icon {
    fill: #000000;
    opacity: 40%;
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }
  .item-list-subscribe-footer:nth-child(2) {
    max-width: 349px;
    width: 100%;
  }
  .footer-email-span {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 12px 124px 12px 17px;
    border-radius: 62px;
  }
  .input-item-email {
    border: none;
    outline: none;
    all: unset;
    font-family: "Satoshi", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    opacity: 40%;
    box-sizing: border-box;
    width: 100%;
  }
  .button-footer-subcribe {
    padding: 12px 89px;
    margin-top: 14px;
    background-color: #ffffff;
    border-radius: 62px;
    font-family: "Satoshi", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    white-space: nowrap;
  }
  .container-footer-navigations {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
  }
  .container-footer-navigation-content {
    display: flex;
    justify-content: center;
    gap: 113px;
    width: 1240px;
    height: 177px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .footer-list-navigations-first {
    display: flex;
    flex-direction: column;
  }
  .footer-list-navigations {
    display: flex;
    flex-direction: column;
  }
  .footer-list-navigations-first-item-text {
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5714285714;
    margin-top: 25px;
    margin-bottom: 35px;
  }
  .foooter-list-navigations-first-button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    text-align: center;
    align-items: center;
  }
  .footer-navigations-icon {
    width: 15px;
    height: 15px;
  }
  .footer-list-navigations-title {
    font-family: "Satoshi", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 1.125;
    margin-bottom: 26px;
  }
  .footer-list-navigations > li:not(:last-child) {
    margin-bottom: 14px;
  }
  .footer-list-navigations-button {
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    color: #000000;
    opacity: 60%;
    white-space: nowrap;
  }
  .footer-container-payment-options {
    display: flex;
    width: 1240px;
    justify-content: space-between;
    padding-top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 82px;
  }
  .footer-container-payment-options-text {
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    opacity: 60%;
  }
  .footer-container-payment-options-list {
    display: flex;
    gap: 12px;
  }
  .footer-container-payment-options-list-item {
    width: 46px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 5px;
  }
  .footer-container-payment-options-list-item:nth-child(1) {
    fill: #063af5;
  }
  .footer-payment-icon {
    width: 46px;
    height: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
