
  $black: #000000;
  $gallery: #f0f0f0;
  $white: #ffffff;
  $green-haze: #01ab31;
  $red-orange: #ff3333;
  $judge-gray: #4f4631;
  $stromboli: #314f4a;
  $martinique: #31344f;
  $sunglow: #ffc633;
  $malachite: #00c12b;
  $red: #f50606;
  $turbo: #f5dd06;
  $chilean-fire: #f57906;
  $bright-turquoise: #06caf5;
  $blue-ribbon: #063af5;
  $electric-violet: #7d06f5;
  $hollywood-cerise: #f506a4;

