@use './variables' as *;

@media screen and (max-width: 767px) {
    .container {
        width: 390px;
    }
    .section{
      width: 100%;
    }

// START HEADER
.container-header {
    display: flex;
    margin: 20px 0px;
    max-height: 24px;
    padding: 0px 18px;
}

.list-navigation-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.list-navigation-header li:first-child {
    align-self: flex-start;
}

.container-title-header-menu {
    display: flex;
    gap: 16px;
    align-items: center;
    text-align: center;
}

.button-burger-mobile {
    width: 20px;
    height: 20px;
}

.burger-icon {
    margin-top: 3px;
    width: 20px;
    height: 20px;
}

.title-logo-link {
    font-family: 'Integral CF', sans-serif;
    font-weight: Bold;
    color: $black;
    font-size: 25px;
    line-height: 18px;
    padding-bottom: 2px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.header-navigation {
    display: none;
}

// .nav-header {
//     display: flex;
// }

// .nav-item-header {
//     font-family: 'Satoshi', sans-serif;
//     font-size: 16px;
//     font-weight: normal;
//     color: $black;
// }

// .nav-header>:first-child {
//     margin-right: 4px;
// }

// .nav-header>:not(:first-child):not(:last-child) {
//     margin-right: 24px;
// }

// .nav-link-button-list-shop {
//     width: 12px;
//     height: 12px;
// }

// .icon-arrow-button-shop {
//     width: 12px;
//     height: 12px;
// }

.search-box {
    display: none;
}

.button-search {
    display: none;
}

.button-search-mobile {
    width: 22px;
    height: 22px;
    margin-right: 14px;

    .search-icon-mobile {
        width: 22px;
        height: 22px;
    }
}

.button-cart {
    width: 22px;
    height: 22px;
    margin-right: 14px;

    .cart-icon {
        width: 22px;
        height: 22px;
    }
}

.button-account {
    max-height: 22px;
    max-width: 22px;

    .account-icon {
        width: 22px;
        height: 22px;
    }
}

//! END HEADER   

// START HOME-PAGE
.home-page-hero-section{
    background-color: $gallery;
}
.home-page-hero-container{
    padding-top: 40px;
}
.home-page-hero-title{
    font-family: 'Integral CF', sans-serif;
    font-weight: Bold;
    color: $black;
    font-size: 36px;
    @include responsive-line-height(36px, 34px);
    margin-bottom: 20px;
}
.home-page-hero-text{
    font-family: 'Satoshi', sans-serif;
    font-weight: normal;
    color: $black;
    opacity: 0.6;
    font-size: 14px;
    @include responsive-line-height(14px, 20px);
    margin-bottom: 24px;
}

.home-page-hero-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 358px;
}

.home-page-button-hero{
    width: 100%;
    height: 52px;
    background-color: $black;
    color: $white;
    border-radius: 62px;
    text-align: center;
    margin-bottom: 20px;
}
.hero-button-name{
    font-family: 'Satoshi', sans-serif;
    font-weight: medium;
    font-size: 16px;
}

.home-page-hero-list{
    display: grid;
    grid-template-columns: 30fr 1fr 30fr;
    grid-template-rows: auto auto;
    justify-items: center;
    justify-self: start;
}
.home-page-item-list:last-child {
    grid-column: span 3;
    justify-self: center;
}
  .home-page-item-list {
    text-align: left;
  }
 .home-page-item-list:nth-child(1){
    margin-right: 27px;
 }
 .home-page-item-list:nth-child(1) {
    margin-left: 27px;
 }
  
  .divider-hero-first,
  .divider-hero-second {
    display: block;
    width: 1px; 
    height: 52px; 
    background-color: $black;
    opacity: 0.1; 
    margin-bottom: 12px;
  }
.divider-hero-second {
    display: none;
}
.home-page-text-first{
    font-family: 'Satoshi', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: $black;
}
.home-page-text-second{
    font-family: 'Satoshi', sans-serif;
    font-weight: normal;
    font-size: 12px;
    opacity: 0.6;
    @include responsive-line-height(12px, 22px);
}
.container-hero-image-mobile{
    position: relative;
}
.home-page-hero-image-mobile{
    width: 100%;
}
.hero-icon-big-star-mobile{
    position: absolute;
    width: 76px;
    height: 76px;
    top: 40px;
    right: 21px;
}
.hero-icon-medium-star-mobile{
    position: absolute;
    width: 44px;
    height: 44px;
    top: 127px;
    left: 27px;
}
.container-hero-image-laptop{
    display: none;
}
//Section BRANDS
.home-page-section-brand {
    background-color: $black;
}

.container-brand {
    padding: 0 16px;
}

.list-brand-first {
    display: flex;
    justify-content: center;
    gap: 34px;
    padding-top: 40px;
    margin-bottom: 20px;
}
.list-brand-second{
    display: flex;
    justify-content: center;
    gap: 31px;
    padding-bottom: 40px;
}
.container-brand-laptop{
    display: none;
}
//!
//! START NEW ARRIVALS
.section-product {
    background-color: $white;

}
.product-name-title {
    font-family: 'Integral CF', sans-serif;
    font-weight: bold;
    color: $black;
    font-size: 32px;
    margin-top: 50px;
    text-align: center;
}
.container-new-arrivals {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 15px 24px 15px;
    gap: 10px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
    box-sizing: border-box;
    scrollbar-width: none;
}
.image-product-item{
    max-width: 198px;
}


.list-product-new-arrivals {
    display: flex;
    justify-content: center;
    gap: 16px;
    
}

.item-list-new-arrivals {
    max-width: 198px;
    flex-shrink: 0;
}

.image-product-item {
    margin-bottom: 10px;
}

.name-product-item {
    font-family: 'Satoshi', sans-serif;
    font-weight: bold;
    font-size: 16px;
    @include responsive-line-height(16px, 32px);
    color: $black;
    margin-bottom: 4px;
}

.rating-container {
    display: flex;
    gap: 4px;
    margin-bottom: 4px;
}

.rating-text-item {
    font-family: 'Satoshi', sans-serif;
    font-weight: normal;
    font-size: 12px;
}

.product-price-container {
    display: flex;
    gap: 5px;
    text-align: center;
    align-items: center;
}

.price-product-item-first {
    font-family: 'Satoshi', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.price-product-item-second {
    font-family: 'Satoshi', sans-serif;
    font-weight: bold;
    font-size: 20px;
    opacity: 40%;
}

.strikethrough {
    text-decoration: line-through;
    text-decoration-color: $black;
    opacity: 40%;
    text-decoration-thickness: 2px;
}

.price-product-item-sale {
    font-family: 'Satoshi', sans-serif;
    font-weight: medium;
    font-size: 10px;
    border-radius: 16px;
    color: $red;
    background-color: rgba(255, 51, 51, 0.1);
    padding: 3px 8px;
}

.button-container-new-arrivals{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.button-new-arrivals {
    font-family: 'Satoshi', sans-serif;
    font-weight: medium;
    font-size: 14px;
    padding: 13px 153px;
    color: $black;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 62px;
    margin-bottom: 40px;
}
//!
//! START TOP SELLING
.container-top-selling{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 15px 24px 15px;
    gap: 10px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
    box-sizing: border-box;
    scrollbar-width: none;
}

.list-product-top-selling {
    display: flex;
    justify-content: center;
    gap: 16px;

}

.item-list-top-selling {
    max-width: 198px;
    flex-shrink: 0;
}

.button-container-top-selling{
    display: flex;
    justify-content: center;
}
.button-top-selling{
    font-family: 'Satoshi', sans-serif;
    font-weight: medium;
    font-size: 14px;
    padding: 13px 153px;
    color: $black;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 62px;
    margin-bottom: 40px;
}
//!
//! SECTION STYLES
.image-item-styles{
    display: none;
}
.section-styles {
    background-color: $white;
}

.container-styles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 358px;
    text-align: center;
    background-color: $gallery;
    border-radius: 20px;
    padding: 40px 24px 27px 24px;
    margin-bottom: 50px;
}

.title-container-styles {
    font-family: 'Integral CF', sans-serif;
    font-weight: bold;
    font-size: 32px;
    @include responsive-line-height(32px, 36px);
    color: $black;
    margin-bottom: 28px;
}

.list-container-styles-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
}

.list-container-styles-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.image-item-styles-mobile {
    border-radius: 20px;
    width: 100%;
}

.title-item-styles {
    position: absolute;
    margin-top: 16px;
    margin-left: 24px;
    font-family: 'Satoshi', sans-serif;
    font-weight: Bold;
    font-size: 24px;
}
//!
//! SECTION REVIEWS
 .section-reviews {
    overflow: hidden;
    background-color: $white;
 }

.container-reviews {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 358px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px; 
}

.container-list-reviews-title {
    display: flex;
    justify-content: center;
}
.list-reviews-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 24px;
}
.item-reviews-title button:last-child {
    margin-left: 16px;
}
.title-reviews {
    font-family: 'Integral CF', sans-serif;
    font-weight: bold;
    font-size: 32px;
    @include responsive-line-height(32px, 36px);
    color: $black;
    width: 286px;
    height: 72px;
}
.icon-arrow-reviews {
    width: 20px;
    height: 20px;
}
.list-reviews {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: max-content;
}
.item-card-reviews {
    max-width: 358px;
    border: 1px solid $gallery;
    border-radius: 20px;
    text-align: start;
}
.container-list-reviews{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    &::-webkit-scrollbar {
    display: none;
    }
}
.container-card-reviews {
    padding: 24px 24px;
}
.container-rating-card-reviews {
    display: flex;
    gap: 5px;
    margin-bottom: 12px;
}
.container-content-card-reviews {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 12px;
}
.name-person-reviews {
    font-family: 'Satoshi', sans-serif;
    font-weight: Bold;
    font-size: 16px;
    @include responsive-line-height(16px, 22px);
}

.check-mark-icon-reviews {
    width: 20px;
    height: 20px;
    fill: $green-haze;
}
.text-person-reviews {
    font-family: 'Satoshi', sans-serif;
    font-weight: normal;
    font-size: 14px;
    @include responsive-line-height(14px, 20px);
    color: $black;
    opacity: 60%;
}
//!
//! End HOME-PAGE
}

