@use './variables' as *;

@media screen and (max-width: 767px) {
    .container {
        width: 428px;
    }
// START HEADER
.container-header {
    width: 428px;
}

.list-button-header {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items: center;
    list-style: none;
    height: 64px;
}



.button-burger-mobile{
    margin-top: 14px;
    width: 24px;
    height: 24px;
.burger-icon{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
}

.button-search-mobile{
    margin-top: 14px;
    width: 20px;
    height: 20px;
.search-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
}

.button-cart-mobile{
    margin-top: 14px;
    width: 22px;
    height: 20px;
.cart-icon{
    width: 22px;
    height: 20px;
    cursor: pointer;
}
}
.button-account-mobile {
    margin-top: 14px;
    max-height: 24px;
    max-width: 24px;
.account-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
}

.item-button-header:nth-of-type(1){
    margin-right: 19px;
}
.item-button-header:nth-of-type(2) {
    margin-right: 96px;
}
.item-button-header:nth-of-type(3),
.item-button-header:nth-of-type(4) {
    margin-right: 14px;
}

.title-logo-link{
    font-family: 'Integral CF', sans-serif;
    font-weight: Bold;
    color: $black;
    font-size: 25px;
    }
//! END HEADER
// START HOME-PAGE
.home-page-hero-section{
    background-color: $gallery;
    width: 390px;
.home-page-hero-container{
    padding-top: 40px;
}
.home-page-hero-title{
    font-family: 'Integral CF', sans-serif;
    font-weight: Bold;
    color: $black;
    font-size: 30px;
    @include responsive-line-height(36px, 34px);
    margin-bottom: 20px;
}
.home-page-hero-text{
    font-family: 'Satoshi', sans-serif;
    font-weight: normal;
    color: $black;
    opacity: 0.6;
    font-size: 14px;
    @include responsive-line-height(14px, 20px);
    margin-bottom: 24px;
}

.home-page-hero-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 358px;
}

.home-page-button-hero{
    width: 100%;
    height: 52px;
    background-color: $black;
    color: $white;
    border-radius: 62px;
    text-align: center;
    margin-bottom: 20px;
}
.hero-button-name{
    font-family: 'Satoshi', sans-serif;
    font-weight: medium;
    font-size: 16px;
}

.home-page-hero-list{
    display: grid;
    grid-template-columns: 30fr 1fr 30fr;
    grid-template-rows: auto auto;
    justify-items: center;
    justify-self: start;
}
.home-page-item-list:last-child {
    grid-column: span 3;
    justify-self: center;
}
  .home-page-item-list {
    text-align: left;
  }
 .home-page-item-list:nth-child(1){
    margin-right: 27px;
 }
 .home-page-item-list:nth-child(1) {
    margin-left: 27px;
 }
  
  .divider-hero-first,
  .divider-hero-second {
    display: block;
    width: 1px; 
    height: 52px; 
    background-color: $black;
    opacity: 0.1; 
    margin-bottom: 12px;
  }
.divider-hero-second {
    display: none;
}
.home-page-text-first{
    font-family: 'Satoshi', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: $black;
}
.home-page-text-second{
    font-family: 'Satoshi', sans-serif;
    font-weight: normal;
    font-size: 12px;
    opacity: 0.6;
    @include responsive-line-height(12px, 22px);
}
.container-hero-image{
    position: relative;
}

.hero-icon-big-star{
    position: absolute;
    width: 76px;
    height: 76px;
    top: 40px;
    right: 21px;
}
.hero-icon-medium-star{
    position: absolute;
    width: 44px;
    height: 44px;
    top: 127px;
    left: 27px;
}
}

//! End HOME-PAGE
        }