@use './variables' as *;

@media screen and (max-width: 767px) {
    .container {
        width: 428px;
    }

.container-header {
    
    width: 428px;
}

.list-button-header {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items: center;
    list-style: none;
    height: 64px;
}



.button-burger-mobile{
    margin-top: 14px;
    width: 24px;
    height: 24px;
.burger-icon{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
}

.button-search-mobile{
    margin-top: 14px;
    width: 20px;
    height: 20px;
.search-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
}

.button-cart-mobile{
    margin-top: 14px;
    width: 22px;
    height: 20px;
.cart-icon{
    width: 22px;
    height: 20px;
    cursor: pointer;
}
}
.button-account-mobile {
    margin-top: 14px;
    max-height: 24px;
    max-width: 24px;
.account-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
}

.item-button-header:nth-of-type(1){
    margin-right: 19px;
}
.item-button-header:nth-of-type(2) {
    margin-right: 96px;
}
.item-button-header:nth-of-type(3),
.item-button-header:nth-of-type(4) {
    margin-right: 14px;
}


.title-logo-link{
    font-family: 'Integral CF', sans-serif;
    font-weight: Bold;
    color: $black;
    font-size: 25px;
    }


        }