@use './variables' as *;
@use './mobile' as *;


body {
    font-family: "Plus Jakarta Sans", medium;
    margin: 0;
}

button {
    all: unset;
    cursor: pointer;
}

*,
::after,
::before {
    box-sizing: border-box;
}

a,
.link {
    text-decoration: none;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
li,
.list,
.svg {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
}

header {
    display: block;
}

.container {
    margin-left: auto;
    margin-right: auto;
}


// START HEADER
@media screen and (min-width: 1440px) {   
.container-header {
    display: flex;
    width: 1240px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.list-navigation-header{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
    align-items: center;
    text-align: center;
}
.list-navigation-header li:first-child{
    align-self: flex-start;
}
.container-title-header-menu{
    text-align: center;
}

.button-burger-mobile {
    display: none;
}
.title-logo-link {
    font-family: 'Integral CF', sans-serif;
    font-weight: Bold;
    color: $black;
    font-size: 32px;
    line-height: 0.7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.nav-header {
    display: flex;
}
.nav-item-header{
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: $black;
}
.nav-header>:first-child {
    margin-right: 4px;
}

.nav-header>:not(:first-child):not(:last-child) {
    margin-right: 24px;
}

.nav-link-button-list-shop {
    width: 12px;
    height: 12px;
}
.icon-arrow-button-shop {
    width: 12px;
    height: 12px;
}


.button-search {
    position: absolute;
    margin-left: 18px;
    width: 24px;
    height: 24px;
    color: $black;
    opacity: 40%;
.search-icon {
    width: 24px;
    height: 24px;
}
}


.search-container-header{
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
}
.search-box{
    width: 545px;
    padding: 13px 16px 13px 52px;
    border-radius: 62px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 40%;
    outline: none; 
    border: none;
    font-size: 16px;
    font-family: 'Satoshi', sans-serif;
    font-weight: normal;
    color: $black;
}
.search-box::placeholder {
    color: $black; 
}

.button-cart {
    width: 24px;
    height: 24px;
    margin-right: 18px;
    .cart-icon {
        width: 24px;
        height: 24px;
    }
}
.button-account {
    max-height: 24px;
    max-width: 24px;

    .account-icon {
    width: 24px;
    height: 24px;
    }
}
.button-search-mobile {
    display: none;

    .search-icon-mobile {
    display: none;
    }
}
    //! END HEADER
// START HOME-PAGE
.home-page-hero-section {
    display: flex;
    justify-content: center;
    background-color: $gallery;
}
.home-page-hero-container {
    width: 1240px;
    background-image: url(../images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% + 70px) top;
    padding: 103px 0px 116px 0px;
}

.home-page-hero-list-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 596px;
}
.home-page-hero-title {
    font-family: 'Integral CF', sans-serif;
    height: 173px;
    font-weight: Bold;
    color: $black;
    font-size: 64px;
    @include responsive-line-height(64px, 64px);
    margin-bottom: 32px;
}

.home-page-hero-text {
    font-family: 'Satoshi', sans-serif;
    font-weight: normal;
    color: $black;
    height: 33px;
    opacity: 0.6;
    font-size: 16px;
    @include responsive-line-height(16px, 22px);
    margin-bottom: 32px;
}

.home-page-button-hero {
    width: 210px;
    height: 52px;
    background-color: $black;
    color: $white;
    border-radius: 62px;
    text-align: center;
    margin-bottom: 48px;
}

.hero-button-name {
    font-family: 'Satoshi', sans-serif;
    font-weight: medium;
    font-size: 16px;
}

.home-page-hero-list {
    display: flex;
    height: 74px;
}
.home-page-item-list{
    width: 100%;
}

.divider-hero-first,
.divider-hero-second {
    display: block;
    width: 1px;
    height: 74px;
    background-color: $black;
    opacity: 0.1;
    margin: 0px 32px;
}

.home-page-text-first {
    font-family: 'Satoshi', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: $black;
}

.home-page-text-second {
    font-family: 'Satoshi', sans-serif;
    font-weight: normal;
    font-size: 16px;
    opacity: 0.6;
    white-space: nowrap;
    @include responsive-line-height(16px, 22px);
}
.container-hero-image-mobile{
    display: none;
}
.container-hero-image-laptop{
    position: relative;
}

.hero-icon-big-star-laptop {
    position: absolute;
    width: 104px;
    height: 104px;
    top: -460px;
    right: -660px;
}

.hero-icon-medium-star-laptop {
    position: absolute;
    width: 56px;
    height: 56px;
    top: -250px;
    right: -80px;
}

//Section BRANDS
.home-page-section-brand {
    background-color: $black;
}

.container-brand-laptop {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    gap: 106px;
}
.list-brand{
    display: flex;
    gap: 106px;
    padding: 42px 0px;
}
.container-brand-mobile{
    display: none;
}
//!
//! START NEW ARRIVALS
.section-product{
    background-color: $white;
    text-align: center;
}
.product-name-title {
    font-family: 'Integral CF', sans-serif;
    font-weight: bold;
    color: $black;
    font-size: 48px;
    margin-top: 72px;
}

.product-container-card{
    text-align: start;
}

.container-new-arrivals{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 0px 36px 0px;
}

.list-product-new-arrivals{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.item-list-new-arrivals{
    max-width: 295px;
}
.image-product-item{
    margin-bottom: 16px;
}
.name-product-item{
    font-family: 'Satoshi', sans-serif;
    font-weight: bold;
    font-size: 20px;
    @include responsive-line-height(20px,32px);
    color: $black;
    margin-bottom: 12px;
}
.rating-container{
    display: flex;
    gap: 5px;
    margin-bottom: 8px;
}
.rating-text-item{
    font-family: 'Satoshi', sans-serif;
    font-weight: normal;
    font-size: 14px;
}
.product-price-container{
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.price-product-item-first{
    font-family: 'Satoshi', sans-serif;
    font-weight: bold;
    font-size: 24px;
}
.price-product-item-second {
    font-family: 'Satoshi', sans-serif;
    font-weight: bold;
    font-size: 24px;
    opacity: 40%;
}
.strikethrough {
    text-decoration: line-through;
    text-decoration-color: $black;
    opacity: 40%;
    text-decoration-thickness: 2px;
}
.price-product-item-sale{
    font-family: 'Satoshi', sans-serif;
    font-weight: medium;
    font-size: 12px;
    border-radius: 16px;
    color: $red;
    background-color: rgba(255, 51, 51, 0.1);
    padding: 6px 13px;
}

.button-container-new-arrivals {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.button-new-arrivals{
    font-family: 'Satoshi', sans-serif;
    font-weight: medium;
    font-size: 16px;
    padding: 18px 80px;
    color: $black;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 62px;
    margin-bottom: 64px;
}
//!
//! START TOP SELLING
.container-top-selling {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 0px 36px 0px;
}

.list-product-top-selling {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.item-list-top-selling {
    max-width: 295px;
}

.button-container-top-selling {
    display: flex;
    justify-content: center;
}

.button-top-selling {
    font-family: 'Satoshi', sans-serif;
    font-weight: medium;
    font-size: 16px;
    padding: 18px 80px;
    color: $black;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 62px;
    margin-bottom: 64px;
}
//!
//! SECTION STYLES
.image-item-styles-mobile{
    display: none;
}
.section-styles{
    background-color: $white;
    text-align: center;
}
.container-styles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1240px;
    background-color: $gallery;
    border-radius: 40px;
    padding: 70px 64px 76px 64px;
}
.title-container-styles{
    font-family: 'Integral CF', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: $black;
}
.list-container-styles-first{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 64px;
}
.list-container-styles-first li:first-child,
.list-container-styles-second li:last-child{
    width: 100%;
    max-width: 406px;
    height: 289px;
}
.list-container-styles-first li:last-child,
.list-container-styles-second li:first-child {
    width: 100%;
    max-width: 684px;
    height: 289px;
}
.list-container-styles-second{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.image-item-styles{
    border-radius: 20px;
    width: 100%;
}
.title-item-styles{
    position: absolute;
    margin-top: 25px;
    margin-left: 36px;
    font-family: 'Satoshi', sans-serif;
    font-weight: Bold;
    font-size: 36px;
}
//!
//! End HOME-PAGE
}