@use './variables' as *;
@use './mobile' as *;


body {
    font-family: "Plus Jakarta Sans", medium;
    margin: 0;
}

button {
    all: unset;
    cursor: pointer;
}

*,
::after,
::before {
    box-sizing: border-box;
}

a,
.link {
    text-decoration: none;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
li,
.list,
.svg {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
}

header {
    display: block;
}

.container {
    margin-left: auto;
    margin-right: auto;
}


// START HEADER
@media screen and (min-width: 1024px) {   
.container-header {
    display: flex;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
    
    }

.list-navigation-header{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
    align-items: center;
    text-align: center;
}
.list-navigation-header li:first-child{
    align-self: flex-start;
}
.container-title-header-menu{
    text-align: center;
}

.button-burger-mobile {
    display: none;
}
.title-logo-link {
    font-family: 'Integral CF', sans-serif;
    font-weight: Bold;
    color: $black;
    font-size: 32px;
    line-height: 0.7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.nav-header {
    display: flex;
}
.nav-item-header{
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: $black;
}
.nav-header>:first-child {
    margin-right: 4px;
}

.nav-header>:not(:first-child):not(:last-child) {
    margin-right: 24px;
}

.nav-link-button-list-shop {
    width: 12px;
    height: 12px;
}
.icon-arrow-button-shop {
    width: 12px;
    height: 12px;
}


.button-search {
    position: absolute;
    margin-left: 18px;
    width: 24px;
    height: 24px;
    color: $black;
    opacity: 40%;
.search-icon {
    width: 24px;
    height: 24px;
}
}


.search-container-header{
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
}
.search-box{
    width: 545px;
    padding: 13px 16px 13px 52px;
    border-radius: 62px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 40%;
    outline: none; 
    border: none;
    font-size: 16px;
    font-family: 'Satoshi', sans-serif;
    font-weight: normal;
    color: $black;
}
.search-box::placeholder {
    color: $black; 
}

.button-cart {
    width: 24px;
    height: 24px;
    margin-right: 18px;
    .cart-icon {
        width: 24px;
        height: 24px;
    }
}
.button-account {
    max-height: 24px;
    max-width: 24px;

    .account-icon {
    width: 24px;
    height: 24px;
    }
}
.button-search-mobile {
    display: none;

    .search-icon-mobile {
    display: none;
    }
}
    //! END HEADER    
}